################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

public-cpp/tmp/
public-cpp/*.out
public-cpp/lex.backup
public-cpp/du12l.cpp
public-cpp/du3456g.cpp
public-cpp/du3456g.hpp
public-cpp/du3456g.output
